# Ignore virtual environment
rl_env/

# Python cache files
__pycache__/
*.pyc

# VSCode settings
.vscode/

# TensorBoard logs
ppo_hopper_tensorboard/

# Model files (optional, if large)
models/*.zip

# Other
*.gif